

body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
    /* background-color: pink; */
    height: 100vh;
}

#gameBoy{
    height: 36em;
    width: 22em;
}


#parteSuperior {

    height: 20em;
    border-radius: 1em 0em 0em 0em;
}

#parteCentral {

    height: 10em;
    background-color: yellow;
}#parteInferior {

    height: 6em;
    background-color: green;
}




#bordeSuperior {

    height: 2.5em;
    background-color: rgb(185, 185, 185);
    border-radius: 1em 1em 0em 0em;
}



#pantallaSuperior {

    height: 14em;
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-direction: row;
    border-radius: 1em 1em 0em 0em;
}
            #bordeIzquierdo{

                    width: 2em;
                    background-color: rgb(185, 185, 185);
    
                }

            #pantallaCentral{

                
            
                    width: 18em;
                    
                }

                            #arriba{

                                    height: 1.6em;
                                    background-color: #494f49;
                                    border-radius: 1em 1em 0em 0em;
                                }

                            #cristal{

                                    height: 10.5em;
                                    background-color: gainsboro;
                                    display: flex;
                                    flex-direction: row;
                                }

                                            #battery{
                                                
                                                width: 4em;
                                                background-color: #494f49;
                                            }

                                            #lcd{
                                            
                                            height: auto;
                                            width: 16em;
                                            background-color: black;
                                            }

                                            #lcdDerecho{

                                            width: 4em;
                                            background-color: #494f49;
                                            }

                            #abajo{

                                    height: 3em;
    
                                    display: flex;
                                    flex-direction: row;
                                    background-color: rgb(212, 26, 26);
                                }

                                            #abajoIzquierda{

                                            height: 1.8em;
                                            width: 3em;
                                            background-color: #494f49;
                                            border-radius: 0em 0em 0em 1em;
                                            }

                                            #abajoDerecha{
                                            height: 1.8em;
                                            width: 18em;
                                            background-color: #494f49;
                                            border-radius: 0em 0em 6em 0em;
                                            }


            #bordeDerecho{

                width: 2em;
                background-color: rgb(185, 185, 185);
            }
        
            #bordeInferior{
                
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: ;
                height: 3.5em;
                background-color: rgb(32, 243, 8);
            }
                        p {                         
                            display: flex;
                            justify-content: center;
                            align-items: center;                  
                            margin: 0em;
                            height: 1em;                            
                            background-color: aquamarine;

                        }

                        #nin {
                                                        
                            margin-left: 3.5em;
                            font-size: 0.6em;
                        }

                        #gb {
                            
                            font-size: 1.8em;
                            font-style: italic;
                        }

                        #tm {

                            font-size: 0.2em;
                        }

                