body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
    /* background-color: pink; */
    height: 100vh;

}

#gameBoy {

    border-radius: 1em 1em 5em 1em;
    height: 36em;
    width: 22em;
    -webkit-box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
}


#parteSuperior {


    border-radius: 1em 0em 0em 0em;
}

#bordeSuperior {

    height: 2.5em;
    background-color: rgb(185, 185, 185);
    border-radius: 1em 1em 0em 0em;
}



#pantallaSuperior {

    height: 14em;
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-direction: row;
    border-radius: 1em 1em 0em 0em;
}

#bordeIzquierdo {

    width: 2em;
    background-color: rgb(185, 185, 185);

}

#pantallaCentral {

    height: 13.9em;
    width: 18em;

}

#arriba {

    height: 1.6em;
    background-color: #494f49;
    border-radius: 1em 1em 0em 0em;
}

#cristal {

    height: 10.5em;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
}

#battery {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4em;
    background-color: #494f49;
}

#led {

    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: red;
    transition: 1s;
    -webkit-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

#bat {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

h1 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.5em;
    color: white;
}

#lcd {

    width: 16em;

}

.foto {

    width: 12em;
    height: 10.5em;
}

#lcdDerecho {

    width: 4em;
    background-color: #494f49;
}

#abajo {

    height: 1.8em;

    display: flex;
    flex-direction: row;

}

#abajoIzquierda {

    height: 1.8em;
    width: 3em;
    background-color: #494f49;
    border-radius: 0em 0em 0em 1em;
}

#abajoDerecha {
    height: 1.8em;
    width: 18em;
    background-color: #494f49;
    border-radius: 0em 0em 7em 0em;
}


#bordeDerecho {

    width: 2em;
    background-color: rgb(185, 185, 185);
}

#bordeInferior {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    background-color: rgb(185, 185, 185);
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    height: 1em;
    color: #004173;

}

#nin {

    margin-left: 2.4em;
    font-size: 0.9em;

}

#gb {

    margin-left: 0.1em;
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#tm {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.2em;
}

#parteCentral {
    display: flex;
    height: 10em;
    background-color: rgb(185, 185, 185);
}

#centralIzquierdo {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(185, 185, 185);
    width: 11em;

}

#cruzid {

    height: 2em;
    width: 2em;
    display: flex;
    background-color: #191919;
    margin-left: 2em;
    border-radius: 0.2em 0em 0em 0.2em;

}

#cruzCentro {

    height: 6em;
    width: 2em;
    display: flex;

    border-radius: 0.2em;
    background-color: #191919;

}

#circuloCentral {

    margin: auto;
    width: 100%;
    height: 34%;
    border-radius: 50%;
    background-color: rgb(49, 49, 49);
    -webkit-box-shadow: inset 2px 2px 11px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px 3px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px 3px rgba(0, 0, 0, 1);
}

#cruzab {

    height: 2em;
    width: 2em;
    display: flex;
    background-color: #191919;

    border-radius: 0.2em 0.2em 0em 0em;
    transform: rotate(90deg);
}


#centralDerecho {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 11em;


}


#botonA {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-top: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #6E0F34;
    transition: 0.5s;
    -webkit-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.75);
}

#botonA:hover {

    transition: 0.5s;
    background-color: #520c27;
}

#a {

    color: #46001b;
    font-size: 1.5em;

}

#b {

    color: #46001b;
    font-size: 1.5em;
}

#botonB {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    margin-top: -2em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #6E0F34;
    transition: 0.5s;
    -webkit-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.75);
}

#botonB:hover {

    transition: 0.5s;
    background-color: #520c27;
}



#parteInferior {

    display: flex;
    flex-direction: row;
    border-radius: 0em 0em 5em 1em;
    height: 8.3em;

    background-color: rgb(185, 185, 185);
}

.seccion1 {

    height: 8em;
    width: 6em;
    border-radius: 0em 0em 0em 1em;
}

.seccion2 {

    display: flex;
    justify-content: center;
    height: 8em;
    width: 9em;
    background-color: rgb(185, 185, 185);
}

#botonS {

    display: flex;
    flex-direction: column;

}

#select:hover {

    background-color: #707070;
    transition: 0.5s;
}

#select {

    display: flex;
    height: 1em;
    width: 3.4em;
    border-radius: 1em 1em 1em 1em;
    background-color: #494f49;
    transform: rotate(-30deg);
    transition: 0.5s;
    -webkit-box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
}



#sel {

    margin-left: 1.6em;
    font-size: 0.7em;
    width: 3em;
    transform: rotate(-30deg);
}

#botonT {

    display: flex;
    flex-direction: column;

}

#start {

    display: flex;
    height: 1em;
    width: 3.4em;
    border-radius: 1em 1em 1em 1em;
    background-color: #494f49;
    transform: rotate(-30deg);
    -webkit-box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 1);
}

#start:hover {

    transition: 0.5s;
    background-color: #707070;

}

#sta {

    margin-left: 1.6em;
    font-size: 0.7em;
    width: 3em;
    transform: rotate(-30deg);
}


.seccion3 {

    display: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 8em;
    width: 7em;
    border-radius: 0em 0em 5em 0em;
}

.sound {

    margin: 0;
    position: absolute;
    height: 5em;
    width: 0.4em;
    margin-top: 2.5em;
    background-color: #494f49;
    border-radius: 1em;
    transform: rotate(-30deg);
    -webkit-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
}

.sound2 {

    margin: 0;
    position: absolute;
    margin-left: 0.5em;
    height: 5em;
    width: 0.4em;
    margin-top: 2em;
    background-color: #494f49;
    border-radius: 1em;
    transform: rotate(-30deg);
    -webkit-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
}

.sound3 {

    margin: 0;
    position: absolute;
    margin-left: 1em;
    height: 5em;
    width: 0.4em;
    margin-top: 1.5em;
    background-color: #494f49;
    border-radius: 1em;
    transform: rotate(-30deg);
    -webkit-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
}

.sound4 {

    margin: 0;
    position: absolute;
    margin-left: 1.5em;
    height: 5em;
    width: 0.4em;
    margin-top: 1em;
    background-color: #494f49;
    border-radius: 1em;
    transform: rotate(-30deg);
    -webkit-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
}

.sound5 {

    margin: 0;
    position: absolute;
    margin-left: 2em;
    height: 5em;
    width: 0.4em;
    margin-top: 0.5em;
    background-color: #494f49;
    border-radius: 1em;
    transform: rotate(-30deg);
    -webkit-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
}

.sound6 {

    margin: 0;
    position: absolute;
    margin-left: 2.5em;
    height: 5em;
    width: 0.4em;
    background-color: #494f49;
    border-radius: 1em;
    transform: rotate(-30deg);
    -webkit-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 2px 2px 11px -5px rgba(0, 0, 0, 1);
}

@keyframes parpadeo {
    0% {
        background-color: red;
    }

    50% {
        background-color: gray;
    }

    100% {
        background-color: red;
    }
}