

body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
    /* background-color: pink; */
    height: 100vh;
}

#contenedorGeneral{
    height: 36em;
    width: 22em;
}


#parteSuperior {

    height: 20em;
    border-radius: 1em 0em 0em 0em;
}

#parteCentral {

    height: 10em;
    background-color: yellow;
}#parteInferior {

    height: 6em;
    background-color: green;
}




#parteSuperioEncendido {

    height: 2.5em;
    background-color: rgb(185, 185, 185);
    border-radius: 1em 1em 0em 0em;
}



#parteSuperiorPantalla {

    height: 14em;
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-direction: row;
    border-radius: 1em 1em 0em 0em;
}
            #parteInferiorLogo {

                    height: 3.5em;
                    background-color: rgb(185, 185, 185);
                }
            #bordeIzquierdo{

                    width: 2em;
                    background-color: rgb(185, 185, 185);
    
                }

            #pantallaCentral{

                
            
                    width: 18em;
                    
                }

                            #centralArriba{

                                    height: 1.6em;
                                    background-color: #494f49;
                                    border-radius: 1em 1em 0em 0em;
                                }

                            #centralCristal{

                                    height: 10.5em;
                                    background-color: gainsboro;
                                    display: flex;
                                    flex-direction: row;
                                }

                                            #battery{
                                                
                                                width: 4em;
                                                background-color: #494f49;
                                            }

                                            #lcd{
                                            
                                            height: auto;
                                            width: 16em;
                                            background-color: black;
                                            }

                                            #lcdDerecho{

                                            width: 4em;
                                            background-color: #494f49;
                                            }

            #centralAbajo{

                height: 3em;
    
                display: flex;
                flex-direction: row;
                background-color: rgb(185, 185, 185);
            }

                        #abajoIzquierda{

                                height: 1.8em;
                                width: 3em;
                                background-color: #494f49;
                                border-radius: 0em 0em 0em 1em;
                        }

                        #abajoDerecha{
                                height: 1.8em;
                                width: 18em;
                                background-color: #494f49;
                                border-radius: 0em 0em 6em 0em;
                        }


            #bordeDerecho{

                width: 2em;
                background-color: rgb(185, 185, 185);
            }
        
            #parteInferiorLogo{
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                background-color: brown;
            }
                        h1 {

                            background-color: aquamarine;
                        }